body
{display: flex;
    background-color:rgb(8, 7, 6);
    justify-content: center;
    
    
}

.flex-container
{   
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color:#101822;
    width: 1500px;
    height: 1920px;
}

.flex1
{   display: flex;
    background-color: rgb(244, 246, 248);
    color: white;
    padding-top: 5px;
    justify-content: flex-start;
    
    
}
.Headler-logo
{
    padding-left: 100px;
}

.links
{  display: flex;
    font-size: 24px;
    gap: 50px;
    padding-left: 630px;
    align-items: center;
    
    
}

.flex2
{
    color: white;
    display: flex;
    padding: 50px;
    background-color: rgb(31, 41, 55);
    padding-bottom: 100px;
}

.flex-2a
{
    padding-left: 50px;

}
.tiny-text
{
    padding-bottom: 20px;
    font-size: 20px;
    padding-right: 250px;

}
.flex-2c
{
display: flex;
gap: 25px;
}
#neon
{
    background-color: #000;
        border: .5px solid #3822f6;
        border-radius: 5px;
        color: #fff;
        padding: 20px;
        padding-left: 50px;
        padding-right: 50px;
        box-shadow: 0 0 30px 0 #3822f6,
                    0 0 30px 0 #3822f6,
                    0 0 10px 0 #3822f6 inset;
}
.extra-bold
{
    font-size: 48px;
    font-weight: bold;
}
button
{
    color: white;
    padding: 20px;
    padding-left: 50px;
    padding-right: 50px;
    background-color: #3822f6;
    font-size: 12px;
    font-weight: bold;
    border-radius: 5px;
    border: none;
    text-decoration: none;
    text-decoration-line: none;
    
}
.placeholder
{   
  
}

#logo
{
    border: none;
}
#noborder
{
    border: 4px solid white;
}

.flex3
{
    color: black;
    background-color: white;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding-bottom: 100px;
}

.info
{
    font-size: 36px;
    font-weight: bold;
    padding-top: 40px;
    padding-bottom: 40px;
}
.description
{
    display: flex;
    padding-left: 130px;
    padding-right: 110px;
    text-align: center;
    gap: 60px;
    font-weight: bold;
    font-size: 18px;
    text-wrap: wrap;
}
.fourpix
{display: flex;
    gap: 90px;
   
}
img
{
    border-radius: 15px;
    border: 4px solid #3822f6;
}



.flex4
{
    color: black;
    background-color: rgb(229, 231, 235);
    display: flex;
    flex-direction: column;
    padding-bottom: 100px;
    

}
.quote
{
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
    padding-top: 100px;
    padding-left: 160px;
    padding-right: 100px;
}
.author
{ 
    display: flex;
    justify-content: right;
    padding-right: 300px;
    font-size: 20px;
    font-weight: bolder;
}


.flex5
{
    color: white;
    background-color: white;
    display: flex;
    padding-bottom: 100px;
    justify-content: center;
    padding-top: 100px;
   
    
}

.blue
{
    background-color: #3822f6;
    border-radius: 7px;
    align-items: center;
    justify-content: center;
    display: flex;
    padding: 100px;
    gap: 350px;

}
#call-to
{
    font-weight: bold;
    font-size: 20px;

}
#last
{
    border: 2px solid white;
}

.flex6
{

    color: white;
    background-color:#101822;
    display: flex;
    padding-bottom: 15px;
    justify-content: center;
    padding-top: 40px;

}